@font-face {
    font-family: 'Insta';
    src: url('/ASSETS/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf') format('opentype')
}

body {
    background-color: #fafafa;
}

main {
    margin-top: 10%;
    height: 500px;
}

/* ---- Caixa de Login ---- */

.login {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 40px 35px 30px 35px;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 0.5px;
    top: 27%;
    right: 32%;
}


#botao {
    cursor: pointer;
    background-color: #0095f6;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    border-width: 0px;
    border-radius: 4px;
    margin-left: 1px;
    display: block;
    height: 30px;
    width: 260px;

}

button:hover {
    background-color: #0d77be !important;

}

input {
    padding: 4px;
    background-color: #fafafa;
    border-radius: 3px;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    height: 25px;
    width: 250px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.linha_do_equador {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #dbdbdb;
    height: 1px;
    width: auto;
}

#esqueceu {
    margin-left: 80px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

p {
    margin-top: 20px;
    margin-left: 20px;
}

#cadastro {
    color: #0095f6;
    text-decoration: none;

}

/* ---- Logo ---- */

#display_logo {
    display: inline-block;
    width: 50%;
}

.logo {
    display: flex;
    margin-left: 43%;
    margin-top: 15%;
    align-items: center;

}

img {
    display: inline-block;
    height: 28%;
    width: 28%;

}

h1 {

    margin-left: 10px;
    display: inline-block;
    font-family: 'Insta';
    font-size: 70px;
    color: black;

}