/* ---- Para mobile ----*/

@media screen and (max-width: 900px) {

    #display_logo {
        display: inline-block;
        width: 70% !important;
    }

    .logo {
        display: flex;
        margin-left: 25% !important;
        margin-top: 15%;
        align-items: center;

    }

    h1 {

        margin-left: 2%;
        display: inline-block;
        font-family: 'Insta';
        font-size: 40px !important;
        color: black;

    }

    .login {
        right: 9% !important;
    }

    .rodape {
        margin-top: 120% !important;
    }
}


main {
    margin-top: 10%;
    height: 500px;
}

/* ---- Caixa de Login ---- */

.login {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 40px 35px 30px 35px;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 0.5px;
    top: 27%;
    right: 32%;
}


/* input {
    padding: 4px;
    background-color: #fafafa;
    border-radius: 3px;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    height: 25px;
    width: 250px;
} */

p {
    margin-top: 20px;
    margin-left: 20px;
}

#cadastro {
    color: #0095f6;
    text-decoration: none;

}

.linha_do_equador {
    margin-top: 25px;
}

/* ---- Logo ---- */

#display_logo {
    display: inline-block;
    width: 50%;
}

.logo {
    display: flex;
    margin-left: 39%;
    margin-top: 15%;
    align-items: center;

}

#logo_img {
    display: inline-block;
    height: 28%;
    width: 28%;

}

h1 {

    margin-left: 2%;
    display: inline-block;
    font-family: 'Insta';
    font-size: 70px;
    color: black;

}

.rodape {
    margin-top: 22%;
    text-align: center;
}